
\.vs/Quiz/v15/Server/sqlite3/storage\.ide-shm

\.vs/Quiz/v15/Server/sqlite3/storage\.ide

\.vs/Quiz/v15/Server/sqlite3/db\.lock

\.vs/Quiz/v15/\.suo

\.vs/Quiz/v15/Server/sqlite3/storage\.ide-wal

Quiz/obj/Debug/Quiz\.csproj\.CoreCompileInputs\.cache

\.vs/Quiz/v15/

Quiz/obj/Debug/Quiz\.csprojAssemblyReference\.cache
